<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ "/assets/logo.png" | relative_url }}" type="image/png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <title> {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} </title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	    
</head>