---
layout: default
---

  {{ content }}

{% for post in paginator.posts %}
  <div class="w3-card post">  
      
        <header class="w3-container w3-red">
          <a style="text-decoration: none;" class="post-link" href="{{ post.url | relative_url }}"><h4>{{ post.title | escape }}</h4></a>
        </header>
        
        <div class="w3-container w3-white">
          {{ post.content }}
        </div>
        
        <footer class="w3-container w3-red">
          <p></p>
        </footer>
        
  </div>
{% endfor %}

<br>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Precedente</a>
  {% else %}
    <span>&laquo; Precedente</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prossima &raquo;</a>
  {% else %}
    <span>Prossima &raquo;</span>
  {% endif %}
</div>
{% endif %}