---
layout: default
---

  {{ content }}

{% for post in site.posts %}
  <div class="w3-card post">  
      
        <header class="w3-container w3-red">
          <a style="text-decoration: none;" class="post-link" href="{{ post.url | relative_url }}"><h4>{{ post.title | escape }}</h4></a>
        </header>
        
        <div class="w3-container w3-white">
          {{ post.content }}
        </div>
        
        <footer class="w3-container w3-red">
          <p></p>
        </footer>
        
  </div>
{% endfor %}
