---
layout: default
---
<div class="w3-card post">  
  
    <header class="w3-container w3-red">
      <a style="text-decoration: none;" href="{{ url | relative_url }}"><h4>{{ page.title }}</h4> </a>
    </header>
    
    <div class="w3-container w3-white">
      {{ content }}
    </div>
    
    <footer class="w3-container w3-red">
      <p></p>
    </footer>
    
</div>

<br>

{% if page.comments %}

	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
	this.page.url = "https://3aiet.github.io{{ page.url }}"; // <--- use canonical URL
	this.page.identifier = "{{ page.id }}";
	};
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = 'https://3aiet.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endif %}